<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Controls>
    <Control>
      <CameraName>Microsoft® LifeCam Studio(TM)</CameraName>
      <Property>Focus</Property>
      <Action>Plus</Action>
      <Shortcut>
        <Shift/>
        <Ctrl/>
        <KeyCode>Add</KeyCode>
      </Shortcut>
    </Control>
    <Control>
      <CameraName>Microsoft® LifeCam Studio(TM)</CameraName>
      <Property>Focus</Property>
      <Action>Minus</Action>
      <Shortcut>
        <Shift/>
        <Ctrl/>
        <KeyCode>Subtract</KeyCode>
      </Shortcut>
    </Control>
  </Controls>
</configuration>